table{
    border-collapse: collapse;
    border: 1px solid black;
}
td, th{
    border: 1px solid black;
    padding: 10px 20px;
}
h1, h4{
    display: inline;
}
ol {
    counter-reset: item
}
li {
    display: block
}
li:before {
    content: counters(item, ".")" ";
    counter-increment: item
}
