#iframe_div{
    height: 100vh;
}
#iframe_id {
    width: 60%;
    height: 94%;
    overflow: auto;
}

#button_div {
    position: relative;
    left: 0px;
    top: -100px;
    display: none;
}

#leave_page_button_div {
    position: absolute;
    left: 10px;
    top: 550px;
    display: none;
}
#message{
    width: 250px;
    max-width: 250px;
    display: inline-block;

    position: absolute;
    left: 10px;
    top: 250px;
}
