{% extends "./student_base.html" %}
{% block content %}
    <h1>Student classes</h1>
        <table>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            {% for temp in temp %}
               <tr>
                    <td><a href="">{{ temp.name }}</a></td>
                    <td>{{ temp.start_date }}</td>
                    <td>{{ temp.end_date }}</td>
               </tr>
               {% empty %}
                <tr>
                     <td>No Classes</td>
                </tr>
            {% endfor %}
        </table>

  <!--   {% if classes %}
        <table>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            {% for class in classes %}
                <tr>
                    <td>{{ class.name }}</td> <td>{{ class.start_date }}</td><td>{{ class.end_date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You have no classes</p>
    {% endif %}
-->
  <form action="{% url 'student_classes_view' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="join_class" value='1'>
        <input type="submit" value="Join class">
    </form>
{% endblock %}
