<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> READ</title>


    <!-- some font links-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
   <h1> hello world</h1>

   <br>

    <a href="{% url 'logout_view' %}">Logout</a>
    <a   href="{% url 'sbase_view' %}">student</a>


</body>
</html>