<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="85958446821-jhr5i6n801965esodnoal3dv4af8tc7g.apps.googleusercontent.com">

    <title>READ-Login</title>

    {% load socialaccount %}
    {% providers_media_js %}

     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'read/login.css' %}">


</head>
<body>

    <div ><h1 style="color: #006666">R E A D</h1></div>

    <div class="wrapper">
        <div class="container">
             <h1>Login</h1>
             {% if error_message %}
                <span style="color:red"><p>{{ error_message }}</p></span>
             {% endif %}


             <form action="{% url 'login_view' %}" method="post" class="form">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <span style="color:red">{{ field.errors }}</span>
                            {{ field.label_tag }} {{ field }}
                            <br><br>
                        {% endfor %}
                        <input type="submit" value="Submit" class="button">
             </form>

             <br>


             <div class="g-signin2" data-onsuccess="onSignIn"></div>

             <h4>Don't have an account?<a href="{% url 'register_view' %}">Register</a> here! </h4>

          </div>
    </div>

    <script src="https://apis.google.com/js/platform.js" async defer></script>


    {% load static %}
    <script src="{% static 'read/js/login.js' %}"></script>
</body>
</html>
