{% extends "./teacher_base.html" %}
{% block content %}
    <h1>Class: {{ class.name }}</h1>


    <table>
        <th>Enrolled Students</th>
        {% for student in enrolled_students %}
        <tr>
            <td>{{ student.user.username }}</td>
            <td>
                <form action="{% url 'teacher_specific_class_view' class.name %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="student_name" value="{{ student.user.username }}">
                    <input type="submit" name="action" value="Remove Student">
                </form>
            </td>
        </tr>
        {% empty %}
            <tr>
                <td>No enrolled students</td>
            </tr>
        {% endfor %}
    </table>
    <br><br>


    <table>
        <th>Pending Requests</th>
        {% for request in pending_requests %}
        <tr>
            <td>{{ request.student.user.username }}</td>
            <td>
                <form action="{% url 'teacher_specific_class_view' class.name %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="student_name" value="{{ request.student.user.username }}">
                    <input type="submit" name="action" value="Approve">
                    <input type="submit" name="action" value="Decline">
                </form>
            </td>
        </tr>
        {% empty %}
            <tr>
                <td>No pending requests to join this class</td>
            </tr>
        {% endfor %}
    </table>
    <br><br>

    <table>
        <th>Document Name</th>
        {% if uploaded_documents %}
            <th>Upload Date</th>
        {% endif %}
        {% for document in uploaded_documents %}
        <tr>
            <td><a href="{% url 'teacher_file_view' class.name document.name %}">{{ document.name }}</a></td>
            <td>{{ document.upload_date }}</td>
            <td>
                <form action="{% url 'teacher_specific_class_view' class.name %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="{{ document.name }}">
                    <input type="submit" name="action" value="Delete Document">
                </form>
            </td>
        </tr>
        {% empty %}
            <tr>
                <td>No documents uploaded to this class</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <form action="{% url 'teacher_specific_class_view' class.name %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="action" value="Add document">
                </form>
            </td>
        </tr>
    </table>

{% endblock %}

