{% extends "./student_base.html" %}
{% block content %}
<h1>Class:{{ class.name }}</h1>

<table>
    <th>
        File name
    </th>
    {% if docs %}
    <th>Upload Date</th>
    {% endif %}
    {% for doc in docs %}
    <tr>
        <td>{{ doc.name }}</td>
        <td>{{ doc.upload_date }}</td>
        <td><a href="{% url 'student_authenticate_view' class.name doc.name %}">View File</a></td>
    </tr>
    {% empty %}
    <tr>
        <td>No documents uploaded</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

