<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File View</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'read/css/file_view.css' %}">
</head>
<body>
    <div id = "iframe_div" align = "right">
    </div>
    <div id="message">
        <p>Please read the instructions:</p>
        <ul>
            <li>Make sure your face is visible and within the rectangle</li>
            <li>Make sure there is sufficient lighting (increase your screen brightness)</li>
            <li>Move your head around until your facial features are identified</li>
            <li>Click the buttons to calibrate eye-tracking and see the file</li>
            <li>When clicking, look at the buttons for the calibrations to work properly</li>
        </ul>
        <p>
            After the file is shown, you will be redirected if either:
            <ul>
                <li>A face is not visible for more than 5 seconds</li>
                <li>Or you look away from the document for more than 5 seconds</li>
            </ul>
        </p>
    </div>

    <p id="redirection_message" style="color:blue; border: 1px solid blue; display:none; font-size:20px" >
    </p>

    <div id="button_div">
        <button id="button"
             type="button"
             onclick="increaseCounter();"
            >
            Look here and keep clicking
        </button>
    </div>

    <div id="leave_page_button_div">
        <button
             type="button"
            onclick="leave_page();"
            >
           Leave page
        </button>
    </div>

    <form name="myForm" action="{% url 'student_file_view' class_name file_name %}" method="post" style="display:none;">
        {% csrf_token %}
        <input id = "elapsedInput" type="hidden" name="elapsedTime">
        <input type="submit" name="action" value="Send Data">
    </form>


    <script type="text/javascript">
        var PATH = "{{ path }}";
    </script>

    {% load static %}
    <script src="{% static 'read/js/webgazer.js' %}"></script>
    <script src="{% static 'read/js/file_view.js' %}"></script>
</body>
</html>
