{% extends "./student_base.html" %}
{% block content %}
    <h1>Your classes</h1>
    <table>
        <th>Class name</th>
        {% if enrolled_classes %}
        <th>Start Date</th>
        <th>End Date</th>
        {% endif %}
        {% for class in enrolled_classes %}
        <tr>
            <td><a href="{% url 'student_specific_class_view' class.name %}">{{ class.name }}</a></td>


            <td>{{ class.start_date }}</td>
            <td>{{ class.end_date }}</td>
            <td>
                <form action="{% url 'student_classes_view' %}" method="post">
                    {% csrf_token %}

                    <input type="hidden" name="class_name" value="{{ class.name }}">
                    <input type="submit" name="action" value="Leave Class">
                </form>
            </td>
        </tr>

        <td><a href="{% url 'student_specific_class_view' class.name %}">{{ user.username }}</a></td>
        {% empty %}
        <tr>
            <td>You are not enrolled in any class</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
